.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.input-wrapper input:disabled {
  background-color: #f0f0f0;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button-wrapper button {
  min-width: 45%;
}
