.header {
  margin-bottom: 2rem;
  h1 {
    color: #fff;
    margin-bottom: 2rem;
  }
}
.edit-name-content {
  box-sizing: border-box;
  background-color: white;
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
